/*  body section--*/
body
{
	
	background-color:white;
	background-size:cover;
	height:100vh;
	background-position: center;
	

}

span
{
	color:pink;
	font-weight: bold;
	font-family: 'Dancing Script', cursive;
}


/*-----------------navbar-----------*/

.navbar
{
	background-color: #05c9b7a1;
	
}

.navbar-brand
{
	color:black !important;
	font-weight: bold;
	font-family: 'Dancing Script', cursive;
	font-size: 170%;
}

.navbar-nav a
{
	color:black!important;
	font-weight: bold;
	font-size: 120%;
}

.navbar-nav a:hover
{
	color:pink!important;
	background-color: black!important;
}

 a:active
{
	background-color: black!important;
	color:pink!important;
}


/*------------------------------home section-----------------------*/

.main
{
	background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../images/bg.jpg);
	background-size:cover;
	top:10%;
	position: relative;

	


}


.Jumbotron
{
	
	top:25%;
	background-color: #05c9b7a1;
	color:white!important;
	width:80%;
	height:auto;
	text-align: center;
	margin-left:10%;

	

}


.container-fluid
{
	
	height:auto;
	
}

.col h4
{
	font-family: 'Dancing Script', cursive;
	color: black;
	font-weight: bold;
	font-size: 170%;
}


.col img
{
	width:20%;
	height:20%;
	position: relative;
	background-color: black;
	border:0.5em solid black;
	border-radius: 50%;
}

.col span
{
	color:black;
	font-weight:bolder;
}

.Jumbotron p
{
	font-size: 130%;
}

/*----------home end-----*/


/*------------------about jlpt--------*/
.Jumbotron2
{

top:15%;
width:80%;
position: relative;
margin-left: 10%
}

/*---------------jlpt end-------------*/

/*-------------------Instructor--------------------------*/
.Jumbotron1
{
	position:relative;
	top:27%;
}

.tag
{
	background-color:#05c9b7a1;
    color:black;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	text-align: center;

}

.arrow
{
	width:10%;
	height:10%;
}

.inner2 
{
	background-color: pink;
	border:3px solid #05c9b7a1 ;
	
}

.inner2 h4
{
  font-weight:bold;
  color:black;
 
}

.inner1 img
{
	width:20%;
	height:20%;
	position: relative;
	border:9px solid black;
	border-radius:20%;
	margin-top:3%;
	margin-left:24%;
}


.inner2 ul
{
	list-style-type:square;
}


/*------------------------instructor end---------------------------*/


/*end*/

html
{
	overflow-x: hidden;
	
}


